
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #FE201F;
    --secondary: #371515;
    --white: #fff;
    --gray: #898181;
    font-family: 'Poppins', sans-serif !important;
}

* {
   box-sizing: border-box;
}

/* Animations */

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes scroll {
    0% {
    transform: translateY(0%);
    }
    100% {
    transform: translateY(-100%);
    }
}

.blink {
    animation: blink-animation 1s infinite;
}

/* Animations */

/* Extending Bootstrap  */

.custom__primary  {
    background-color: #990606; /* Your custom color */
    border-color: var(--primary); /* Your custom color */
}

.custom__primary:active {
    background-color: #990606 !important; /* Your custom color */
    border-color: var(--primary); /* Your custom color */
}

.custom__primary:focus {
    background-color: #990606 !important; /* Your custom color */
    border-color: var(--primary); /* Your custom color */
}

.custom__primary:hover {
    background-color: var(--primary); /* Your custom hover color */
    border-color: var(--primary); /* Your custom hover color */
} 

.btn{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 50px;
    padding: 1rem;
}

.extending__btn{
    min-width: 200px;
    text-align: center;
} 

.modal-content{
    padding: 1rem 1.5rem;
}

.modal{
    justify-content: center;
}

.modal-dialog{
    transform: translate(0, 45%) !important;
}

.container{
    padding: 0;
}

/* Extending Bootstrap  */

/* navigation component */

nav {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: transparent;
    position: fixed;
    top:0;
    z-index: 1;
    color: var(--white);
    font-weight: 800;
    font-size: 2.5rem;
}

.login__btn{
    border-radius: 50px;
    height: 50px;
    background-color: #B20201;
    text-transform: uppercase;
    color: var(--white);
    padding: 5px 32px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
} 

/* navigation component */

/* Progress Component */

.progress{
    height: 5px;
}

.progress-bar{
    height: 5px;
    background-color: #FE201F;
    border-radius: 10px;
}

.progress__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.progress__info__prompt{
    font-weight: 800;
    letter-spacing: 4px;
}

/* Progress Component */

body{
    background-color: #000;
    padding: 0;
    margin: 0;
    position: relative;
}

.container {
    width: 50vw;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
    border: none;
}

.content {
    background: transparent;
    border: none;
    display: flex;
    height:600%;
    width: 150%;
    gap: 1rem;
    transform: translate3d(0%,-50%, 0) rotate(22.5deg) ;
    position: relative;
}

.box {
    animation: scroll 500s linear infinite;
    border: none !important;
    overflow: hidden;
    height: calc(100% / 3);
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction:column; 
    gap: 1rem;
}    

.box img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    transition: all 0.5s ease;
}

/* Adjust animation delay to control scrolling speed */

.box:nth-child(1) { animation-delay: -5s; transform: translateY(-100%); }
.box:nth-child(2) { animation-delay: -10s; transform: translateY(-150%); }
.box:nth-child(3) { animation-delay: -20s; transform: translateY(-200%); }
.box:nth-child(4) { animation-delay: -30s; transform: translateY(-250%); } 
.box:nth-child(5) { animation-delay: -35s; transform: translateY(-300%); } 

/* Just for styling purposes */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 24px;
}

.form__box{
    box-sizing: border-box;
    width: 50vw;
    padding: 4rem;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
}

.left__navbar{
    display: flex;
    gap: 1rem;
}

/* Form Component */

h1{
    color: var(--white);
}

 form{
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 90%;
    background: var(--white);
    background: #000;
    color: var(--white);
    padding: 2rem 4rem;
 }

.hidden {
    display: none;
}

label{
   color: #9ca3af;
   font-size: larger;
   text-transform: uppercase;
   letter-spacing: 4px;
}

input.form-control, select.form-control{
    background-color: #111827;
    border: 1px solid #374151;
    color: #d1d5db;
}

hr{
    border-bottom: 1px solid #374151;
    margin: 3rem 0;
}

input.form-control:focus, select.form-control:focus, input.form-control:active{
    background-color: #4b5563;
    color:#d1d5db;
}

h2{
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.cta__buttons{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

/* Form Component */


/* Banner Component */

.banner{
    color: white;
    box-sizing: border-box;
    bottom: 0px;
    z-index: 9;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6rem;
    background-color: #B20201;
    justify-content: space-between;
    align-items: center;
}

.banner__content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation: blink-animation 3s infinite;
}

/* Banner Component */
/* media query tablet and below */
@media screen and (max-width: 1200px){
    .logo{
        display: none;
    }
    
    main{
        flex-direction: column;
        position: relative;
    }

    main > div{
        width: 100vw !important;
    }

    .form__box{
        position: absolute;
        width: 100vw;
        bottom: 0;
        padding: 0;
        max-height: 65vh;
    }

    .tac{
        margin: 0.5rem 0;
        font-size: 9px;
    }

    .tac__label{
        font-size: 12px;
    }

    .extending__btn{
        min-width: none;
    }

    .banner{
        display: none;
    }

    .progress__info
    {
        flex-direction: column;
        gap: 1rem;
    }

    h2{
        font-size: 1.5rem;
    }

    .cta__buttons{
        margin-top: 1rem;
        flex-direction: column-reverse;
        gap: 1rem;
        justify-self: center;
    }

    hr{
        border-bottom: 1px solid #374151;
        margin: 1.5rem 0;
    }

    .box img {
        object-fit: contain;
    }
}

